* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: #eeeeee;
}

nav {
    height: 82px;
    width: 100%;
    background: white;
}

.grid-container-cols-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
#logo {
    grid-column-start: 2;
    grid-column-end: 7;
    padding: 7% 0% 0% 0%;
}
#nav-buttons {
    grid-column: span 6;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
}
.button-nav {
    padding: 6% 10% 0% 0%;
}
#social {
    grid-column: span 11;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 3% 0% 0% 12%;
}

main {
    width: 100%;
}
.grid-container-cols-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.h1 { 
    display: grid;
    grid-column-start: 7;
    grid-column-end: 12;
    padding: 15% 0% 5% 0%;
    font-size: 2.3rem;
    font-weight: 100;
    line-height: 1.3;
}


#case-study1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 25% 25% 25% 25%;
    grid-area: 2 / 7 / 3 / 11;
    padding-bottom: 8%;
}

#case-study2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 25% 25% 25% 25%;
    grid-area: 3 / 7 / 4 / 11;
    padding-bottom: 8%;    
}

#case-study3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 25% 25% 25% 25%;
    grid-area: 4 / 7 / 5 / 11;
    padding-bottom: 15%;    
}

.csdrop-shadow {
    box-shadow: 4px 4px 8px #adacac;
}


.footer-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30% 70%;
    height: 222px;
    width: 100%;
    background: black;
}

#footer-logo {
    height: 80px;
    grid-column: span 6;
    padding: 5% 0% 0% 10%;
}

.footer-info {
    color: white;
    grid-area: 2 / 1 / 3 / 3;
    padding: 0% 0% 0% 30%;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1.5;
}

.footer-menu {
    color: white;
    grid-area: 2 / 7 / 3 / 8;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.footer-case-studies {
    color: white;
    grid-area: 2 / 9 / 3 / 11;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

#footer-socials {
    display: grid;
    grid-area: 2 / 11 / 2 / 12;
    display: flex;
    align-items: flex-start;


}

