* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: black;
    overflow-x: hidden;
}

nav {
    height: 82px;
    width: 100%;
    background: white;
}

.grid-container-cols-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#logo {
    justify-self: start;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 7;
}

#nav-buttons {
    grid-column: span 5;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
}

.button-nav {
    flex-grow: 1;
    max-width: 256px;
}

#social {
    grid-column-start: 11;
    grid-column-end: 12;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    background-color: #eeeeee;
    padding-bottom: 4rem;
}

.grid-container-cols-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* justify-content: center;
    align-items: center; */
}

.strapline {
    grid-column: 7 / 12;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.strapline h3 {
    font-size: 2.3rem;
    font-weight: 100;
    line-height: 1.3;
}

.container-handwriting-contact {
    grid-area: 2 / 2 / 3 / 4;
    font-size: 1rem;
    font-weight: 100;
    padding-right: 4rem;
    padding-top: 7rem;
}

.handwriting {
    opacity: 0.7;
}

.container-case-study {
    grid-column: 7/12;
}

.container-case-study img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

#case-study-1 {
    grid-row: 2 / 3;
}

#case-study-2 {
    grid-row: 3 / 4;
}

#case-study-3 {
    grid-row: 4 / 5;
}

.csdrop-shadow {
    box-shadow: 4px 4px 8px #adacac;
}

footer {
    display: flex;
    color: white;
}

footer .grid-container-cols-12 {
    padding: 3rem 0;
    grid-gap: 0.5rem;
    width: 100%;
}

.container-footer-info {
    display: flex;
    flex-flow: column;
    grid-column: 2 / 5;
}

.footer-info {
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 1.3;
}

.copy-right {
    color: white;
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 0.04rem;
    padding-top: 2rem;
}

.footer-menu {
    grid-column: 7 / 8;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.4;
}

.footer-case-studies {
    grid-column: 8 / 11;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.footer-socials {
    grid-column: 11 / 12;
    justify-content: flex-end;
}